# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
eval/cmake_install.cmake
eval/CMakeFiles
eval/Makefile
eval/eval_xpp
eval/eval_xs128
eval/eval_xss
eval/CMakeCache.txt
